/* body */
.main {position:absolute; font-size:100%; top:0; width:100%;}

/* div id="body" */
#body {position:fixed; height: 98.5%; width:80.5%; top:0; left:0; padding-top:10px; padding-left:312px; overflow-y: auto; display:none;}

/* Body Color */
.ng1 {background:#e6fff9;}

.ng2 {background:#fff0e6;}

.css {background:#e6e6ff;}

.css3 {background:#ffe6e6;}

.html {background:#f9e6ff;}

.js {background:#ffe6e6;}

/* Color for left border for white-box */
.color-left-ng1 {border-left:7px solid #00e6ac;}

.color-left-ng2 {border-left:7px solid #ffa366;}

.color-left-css {border-left:7px solid #b3b3ff;}

.color-left-css3 {border-left:7px solid #ff9999;}

.color-left-html {border-left:7px solid #ecb3ff;}

.color-left-js {border-left:7px solid #cc0000;}

/* Headers */
.header {position:relative; top:0; margin:3px; height:30px; width:980px; font-size:150%; padding:10px;}

.header-ng1, .ui-btn.color-ng1 {background:#00e6ac; color:#000;}

.header-ng2, .ui-btn.color-ng2 {background:#ffa366; color:#000;}

.header-css, .ui-btn.color-css {background:#b3b3ff; color:#000;}

.header-css3, .ui-btn.color-css3 {background:#ff9999; color:#000;}

.header-html, .ui-btn.color-html {background:#ecb3ff; color:#000;}

.header-js, .ui-btn.color-js {background:#cc0000; color:#fff !important; font-weight:100;}

/* Color of orientation button on hover and when pressed */
.ui-btn.color-ng1:hover {background:#00b386;}

.ui-btn.color-ng2:hover {background:#ff8533;}

.ui-btn.color-css:hover {background:#8080ff;}

.ui-btn.color-css3:hover {background:#ff6666;}

.ui-btn.color-html:hover {background:#df80ff;}

.ui-btn.color-js:hover {background:#ff0000; color:#000 !important;}

/* Color A of Collapsible List */
.color-a .ui-collapsible-heading-collapsed > .ui-collapsible-heading-toggle {
   background:#737373 !important;
   color:#fff !important;
   font-weight: lighter !important;
}

.color-a .ui-collapsible-heading-collapsed > .ui-collapsible-heading-toggle:hover {
  background:#404040 !important;
  color:#fff !important;
  font-weight: lighter !important;
}

.color-a .ui-collapsible-heading-toggle {
   background:#737373 !important;
   color:#fff !important;
   font-weight: lighter !important;
}

.color-a .ui-collapsible-heading-toggle:hover {
   background:#404040 !important;
   color:#fff !important;
   font-weight: lighter !important;
}

/* Color B Collapsible Lists */
.color-b .ui-collapsible-heading-collapsed > .ui-collapsible-heading-toggle {
   background:#f9f9f9 !important;
   color:#000 !important;
}

.color-b .ui-collapsible-heading-collapsed > .ui-collapsible-heading-toggle:hover {
  background:#d9d9d9 !important;
  color:#000 !important;
}

/* Color C Collapsible Lists */
.color-c .ui-collapsible-heading-collapsed > .ui-collapsible-heading-toggle {
   padding-left:0px;
   padding-right:0px;
   background:#fff !important;
   color:#000 !important;
   border:none !important;
   border-radius:0 !important;
}

.color-c .ui-collapsible-heading-collapsed > .ui-collapsible-heading-toggle:hover {
  background:#d9d9d9 !important;
  color:#000 !important;
  border:none !important;
  border-radius:0 !important;
}

.c1 .ui-collapsible-heading-toggle {
   padding-left:0px;
   padding-right:0px;
   border:none !important;
   border-radius:0 !important;
}

.c1 li > a {list-style-type: disc; display:inline !important; padding:0 !important;}

.c1 li {list-style-type: disc; margin-left:5px;}

/* AngularJS V1 */
.b1 .ui-collapsible-heading-toggle {
   background:#00e6ac !important;
   color:#000 !important;
}

.b1 .ui-collapsible-heading-toggle:hover {
   background:#00e6ac !important;
   color:#000 !important;
}

/* AngularJS V2 */
.b2 .ui-collapsible-heading-toggle, .b2 .ui-collapsible-heading-toggle:hover {
   background:#ffa366 !important;
   color:#000 !important;
}

/* CSS */
.b3 .ui-collapsible-heading-toggle, .b3 .ui-collapsible-heading-toggle:hover {
   background:#b3b3ff !important;
   color:#000 !important;
}

/* CSS3 */
.b4 .ui-collapsible-heading-toggle, .b4 .ui-collapsible-heading-toggle:hover {
   background:#ff9999 !important;
   color:#000 !important;
}

/* HTML */
.b5 .ui-collapsible-heading-toggle, .b5 .ui-collapsible-heading-toggle:hover {
   background:#ecb3ff !important;
   color:#000 !important;
}

/* JavaScript */
.b6 .ui-collapsible-heading-toggle, .b6 .ui-collapsible-heading-toggle:hover {
   background:#cc0000 !important;
   color:#fff !important;
}
/* Color around collapisible themed content */
.ui-collapsible-themed-content .ui-collapsible-content {
    background-color: #fff;
 }

 .color-a .ui-collapsible-themed-content .ui-collapsible-content {
     background-color: #fff;
  }

/* Remove Blue Halo Glow */
.ui-focus,
.ui-btn:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* My Panel */
.myPanel {width:265px; height:100%; left:0px; padding-right:25px; background:#f2f2f2 !important; color: #000000 !important;}

h2 {padding-top:5px;}

/* link styling */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 255px;
  background-color: #fff;
}

ul.panel-position-width {
  margin-left: -10px;
  width: 108.5%;
}

li a {
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: normal !important;
  display: block;
  color: #000 !important;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #d9d9d9 !important;
  font-weight: normal !important;
}

h3 {padding:5px;}

/* Grey Box */
.grey-box {
  position:relative;
  margin-left:3px;
  padding-top:5px;
  width:1000px;
  background:#f5f5f5;
  border-radius:5px;
  box-shadow: 1px 1px 15px #888888;
}

/* Text Position */
.tidbit-text-position, .mycode-text-position {
  position:relative;
  margin-top:8px;
  margin-bottom:12px;
}

.myresult-text-position {
  position:relative;
  margin-top:8px;
  margin-bottom:14px;
}

/* White Box */
.white-box {
  font-family:Consolas,courier new;
  font-size: 90%;
  background:#fff;
  padding-left:5px;
  padding-right:5px;
  padding-top:20px;
  padding-bottom:20px;
}

/* Remove space above and below <p> tag in the white-box */
.white-box p:first-child {
    margin-top: 0;
}

.white-box p:last-child {
    margin-bottom: 0;
}

/* Styling for pre tags */
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* w3schools explanation */
.w3-style {
  padding-left:3px;
  padding-bottom:20px;
  width:1000px;
  font-family: Consolas,monospace;
  font-size:90%;
}

/* Adjust Height of the Buttons */
.ui-btn {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

/* Remove horizontal scrollbar and having vertical scrollbar appear when needed from jquery mobile panel */
.ui-panel.ui-panel-open {
  position:fixed;
}

.ui-panel {
  height: 100%;
  overflow-y: auto;
}

.ui-panel-inner {
  overflow-x: hidden;
  overflow-y: auto;
}

/* Remove jquery mobile panel shadow */
.ui-panel-display-overlay {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* div that includes tidbit and mycode */
.tidbit-and-mycode {
  display:inline-block;
  width:47.5%;
  padding-left:15px;
}

.change-width {
  display:inline-block;
  width:96.5%;
  padding-left:15px;
  margin-bottom:-10px;
}

/* div for "My Result" */
.my-result {
  position:absolute;
  display:inline-block;
  width:47.5%;
  padding-left:15px;
}

.change-display-and-width {
  position:absolute;
  width:96.5%;
  padding-left:15px;
}

/* Orientation Button and Tidbit/My Code Button */
.ui-btn.orientation-button, .ui-btn.tidbit-mycode-button {
  position:absolute;
  top:-18px;
  right:0;
  padding: 1px 0px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #000;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px #999;
  width: 32px;
  border-style: outset;
  border-color: #e6e6e6;
}

.ui-btn.orientation-button:hover, .ui-btn.tidbit-mycode-button:hover {color: #fff;}

.ui-btn.orientation-button:active, .ui-btn.tidbit-mycode-button:active {
  box-shadow: 0 2px #777;
  transform: translateY(0.5px);
}

/* REFERENCE CODE LIBRARY (rcl) */
body {background-color:lightgrey;}

/* Panel Switch Button */
.switch-panel, .switch-panel-rcl {padding-top:10px !important; padding-bottom:10px !important; width:210px;}

.switch-panel {font-size:90%;}

.switch-panel-rcl {font-size:107%;}

/* myPanel-rcl */
.myPanel-rcl {font:14px Calibri, Arial; width:265px; height:100%; left:0px; padding-right:25px; background:#f2f2f2 !important; color: #000000 !important;}

/* Transparent Button for the +/- Button */
.transparent {
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 0, 0, 0) !important;
  border: none !important;
}
.transparent:hover {
  /* RGBa with 0.6 opacity */
  background-color: #404040 !important;
}

.fontSize {font-size:12px !important;}

/* Collapsible Header Links */
a.collapsible-header-link {text-decoration: none; color:#000 !important; font-weight: lighter !important;}

/* Title Buttons */
.ui-btn.title-rcl, .ui-btn.title-pl {background:rgba(0, 0, 0, 0); border:none; border-radius:0;}

.ui-btn.title-rcl {width:213px;}

.ui-btn.title-pl {width:207px;}

/* .ui-btn.title-rcl:hover, .ui-btn.title-pl:hover {border-bottom:1px solid #000;} */

/* Title Div */
.title-div {position:fixed; top:0; left:0; padding-left:17px; width:257px; height:45px; z-index:1; background:#f2f2f2;}

/* Text-Overflow for jQuery Mobile Collapsible Buttons */
.text-overflow  a {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.text-overflow a:hover {
    text-overflow: inherit !important;
    overflow: visible !important;
}
