<!DOCTYPE html>
<html>
<head>
<script src="../../js/angular.min.js"></script>
<link rel="stylesheet" href="../../css/pages.css">
<script src="../../js/jquery-1.11.3.min.js"></script>
<script src="../../js/pages.js"></script>
</head>
<body class="angularjs">

<div class="header-angularjs">
  <b>Directives: 2</b>
</div>

<div class="w3-style">
  <p>Directives start with the prefix ng-. The following three are directives:<br>
  (1) ng-app - initializes an AngularJS application,<br>
  (2) ng-init - initiates application data, and<br>
  (3) ng-model - binds the value of HTML controls (such as input, select, and textarea) to application data.</p>
  <i>Note: The above explanation was retrieved from w3schools.com.</i>
</div>

<div class="grey-box">
  <div id="tidbit-mycode" class="tidbit-and-mycode">
    <div id="tidbit">
      <div class="tidbit-text-position">
        <b>Primary Code Tidbit</b>
        <button class="tidbit-mycode-button color-angularjs up-arrow" onclick="MyCodeGreybox();">
          <span>&#8689;</span>
        </button>
        <button class="tidbit-mycode-button color-angularjs down-arrow" onclick="TidbitGreybox();">
          <span>&#8690;</span>
        </button>
      </div>
<pre id="tidbit-box" class="white-box color-left-angularjs htmlHigh">
&lt;div ng-app=&quot;&quot; ng-init=&quot;vegetableName=&apos;asparagus&apos;&quot;&gt;

  &lt;p&gt;&lt;b&gt;Try changing the name of the vegetable in the input box.&lt;/b&gt;&lt;/p&gt;

  &lt;p&gt;Vegetable: &lt;input type=&quot;text&quot; ng-model=&quot;vegetableName&quot;&gt;&lt;/p&gt;

  &lt;p style=&quot;color:red;&quot;&gt;The vegetable is {{vegetableName}}.&lt;/p&gt;

&lt;/div&gt;
</pre>
    </div>
    <div id="my-code">
      <div class="mycode-text-position">
        <b>My Code</b>
        <button class="tidbit-mycode-button color-angularjs up-arrow" onclick="MyCodeGreybox();">
          <span>&#8689;</span>
        </button>
        <button class="tidbit-mycode-button color-angularjs down-arrow" onclick="TidbitGreybox();">
          <span>&#8690;</span>
        </button>
      </div>
<pre id="my-code-box" class="my-code-box white-box color-left-angularjs htmlHigh">
&lt;div ng-app=&quot;&quot; ng-init=&quot;vegetableName=&apos;asparagus&apos;&quot;&gt;

  &lt;p&gt;&lt;b&gt;Try changing the name of the vegetable in the input box.&lt;/b&gt;&lt;/p&gt;

  &lt;p&gt;Vegetable: &lt;input type=&quot;text&quot; ng-model=&quot;vegetableName&quot;&gt;&lt;/p&gt;

  &lt;p style=&quot;color:red;&quot;&gt;The vegetable is {{vegetableName}}.&lt;/p&gt;

&lt;/div&gt;
</pre>
    </div>
  </div>
  <div id="my-result" class="my-result">
    <div class="myresult-text-position">
      <b>My Result</b>
      <button class="orientation-button color-angularjs" id="left-arrow" onclick="GreyboxLandscape();">
        <span>&#8676;</span>
      </button>
      <button class="orientation-button color-angularjs" id="right-arrow" onclick="GreyboxPortrait();">
        <span>&#8677;</span>
      </button>
    </div>
    <div id="my-result-box" class="white-box color-left-angularjs">
      <div ng-app="" ng-init="vegetableName='asparagus'">

        <p><b>Try changing the name of the vegetable in the input box.</b></p>

        <p>Vegetable: <input type="text" ng-model="vegetableName"></p>

        <p style="color:red;">The vegetable is {{vegetableName}}.</p>

      </div>
    </div>
  </div>
</div>

<br><br><br>

<script src="../../js/w3codecolor.js"></script>
<script>w3CodeColor();</script>
</body>
</html>
